<footer class="footer">
  <!-- {% for item in site.data.settings.social %} -->
  <!--   <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a> -->
  <!-- {% endfor %} -->
  
  <div class="footer-description">
    <div class="icon-container">
      <a href="mailto:seokwonlee@cau.ac.kr"><img src="/assets/img/Footer/email.png" alt="Icon 1"></a>
      <a href="https://github.com/CAU-AISL" target="_blank"><img src="/assets/img/Footer/github-sign.png" alt="Icon 2"></a>
      <a href="https://me.cau.ac.kr/" target="_blank"><img src="/assets/img/Footer/university-building.png" alt="Icon 3"></a>
    </div>
    <a href="{{ site.github.url }}/">{{ site.title }}<span> | {{ site.description }} by {{ site.author }}</span></a>
  </div>
</footer>
