<header class="site-header">
  <div class="inner-header">
    <h3 class="site-title">
      <a href="{{ site.github.url }}/">{{ site.title }}</a>
    </h3>
    <ul class="menu-list">
      {% for item in site.data.settings.menu %}
        <li class="dropdown"><a href="/{{ item.name }}">{{ item.name }}</a>
          {% if item.name == "People" %}
          <div class="dropdown-content">
            <a href="/People">Professor</a>
            <a href="/Member">Member</a>
          </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="mdropdown">
      <button class="mdropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
      <div class="mdropdown-content">
        {% for item in site.data.settings.menu %}
          <a href="{{ site.github.url }}/{{ item.url }}" class="menu-link">{{ item.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</header>
