<header class="site-header">
  <div class="inner-header">
    <h3 class="site-title">
      <a href="{{ site.github.url }}/">{{ site.title }}</a>
    </h3>
    <ul class="menu-list">
      {% for item in site.data.settings.menu %}
        <li class="dropdown"><a href="/{{ item.name }}">{{ item.name }}</a>
          {% if item.name == "People" %}
          <div class="dropdown-content">
            <a href="/People">Professor</a>
            <a href="/Member">Member</a>
          </div>
          {% endif %}
          {% if item.name == "Boards" %}
          <div class="dropdown-content">
            <a href="/Boards">Notice</a>
            <a href="/Gallery">Gallery</a>
          </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="mdropdown">
      <button class="mdropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
      <div class="mdropdown-content">
        <a href="/People" class="menu-link">Professor</a>
        <a href="/Member" class="menu-link">Member</a>
        <a href="/Research" class="menu-link">Research</a>
        <a href="/Project" class="menu-link">Project</a>
        <a href="/Publication" class="menu-link">Publication</a>
        <a href="/Boards" class="menu-link">Notice</a>
        <a href="/Gallery" class="menu-link">Gallery</a>
        <a href="/Contact" class="menu-link">Contact</a>
      </div>
    </div>
  </div> 
</header>
