<div class="left_navigation">
    {% if page.category contains "research"%}
        {% for tag in page.taglist %}
            {% if tag == "GUIDANCE" %}
                <h2 class="Top-list">Research Topic</h2>
            {% endif %}
            {% if tag == "UAV" %}
                <h2 class="Top-list" style="margin-top: 3rem;">Application</h2>
            {% endif %}
            <div class="page-nav-list">
                
                {% if tag != "GUIDANCE" and tag != "NAVIGATION" and tag != "CONTROL" %}
                    <h2>{{ tag }}</h2>
                    {% assign sorted_research = site.research | sort:"order" %}
                    {% for research in sorted_research %}
                        {% if research.tag contains tag %}
                            <div class="nav-items">▷<h3><a href="{{ research.url }}">{{ research.title }}</a></h3></div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h2><a href="/Research/{{ tag }}2">{{ tag }}</a></h2>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    
    {% if page.category contains "project"%}
        {% for tag in page.taglist %}
            <div class="page-nav-list">
                <h2>{{ tag }}</h2>
                {% for project in site.project %}
                    {% if project.tag contains tag %}
                        <div class="nav-items">▷<h3><a href="{{ project.url }}">{{ project.title }}</a></h3></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

</div>