<div class="left_navigation">
    {% if page.category contains "research"%}
        {% for tag in page.taglist %}
            <div class="page-nav-list">
                <h2>{{ tag }}</h2>
                {% for research in site.research %}
                    {% if research.tag contains tag %}
                        <div class="nav-items">▷<h3><a href="{{ research.url }}">{{ research.title }}</a></h3></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
    
    {% if page.category contains "project"%}
        {% for tag in page.taglist %}
            <div class="page-nav-list">
                <h2>{{ tag }}</h2>
                {% for project in site.project %}
                    {% if project.tag contains tag %}
                        <div class="nav-items">▷<h3><a href="{{ project.url }}">{{ project.title }}</a></h3></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

</div>