<div class="board">
    <h1>Notice</h1>
    <div class="notice-list">
        <table class="boardTable">
            <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-author">글쓴이</th>
                    <th scope="col" class="th-date">작성날짜</th>
                </tr>
            </thead>
            {% for post in paginator.posts %}
                <tr>
                    <td>{{ post.num }}</td>
                    <td class="th-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
                    <td>{{ post.author }}</td>
                    <td class="th-date">{{ post.date | date: "%b %-d, %Y"}}</td>
                </tr>
            {% endfor %}
        </table>
        {% if paginator.total_pages > 1 %}
        <ul class="paginator_trail">
            <li class="previous">
                <a {% if paginator.previous_page %}href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"{% endif %}> < </a>
            </li>
            {% if paginator.page_trail %}
                {% for trail in paginator.page_trail %}
                    <li class="trail_list {% if page.url == trail.path %}selected{% else %}clickable{% endif %}">
                        <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            <li class="next">
                <a {% if paginator.next_page %}href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"{% endif %}> > </a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>