/*
  Site container
*/

.top_bar{
  height: $topbar-height;
  background-color: #09246c;  
}
.content-wrapper {
  padding-top: 10px;
  margin: auto;
  display: block;
  width: $container-width;
}

@media (max-width: $tablet-width) {
  .top_bar{
    height: $topbar-tablet-height;
  }
}
