.footer {
  background: white;
  color: $brand-color;
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;
  margin: auto;
}
.footer a {
  color: $brand-color;
  padding: 0px 10px 0px;
  text-decoration: none;
}
@media (max-width: 680px) {
  .footer {
    width: 100%;
  }
  .footer-description span{
    display: none;
  }
}
.footer-description {
  display: block;
  margin-top: 5rem;
  color: #9a9a9a;
  font-size:0.8rem;
}

