.site-header {
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
  z-index: 100;
}
.inner-header{
  width: $container-width;
  margin : auto;
}
.page-img{
  min-height: $pageimg-minheight;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),url(/assets/img/background1.JPG);
  background-position: center center;
  background-repeat: repeat-x;
  z-index: 100;
  display: flex;
}
.page-img a{
  color: white;
}
.site-header a {
  text-decoration: none;
}
.site-title {
  font-size: 26px;
  font-weight: 400;
  line-height: $header-minheight;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10px;
  float: left;
}
.page-title{
  font-size: 26px;
  font-weight: 400;
  padding-left: 3%;
  margin: 0;
}
.site-header ul {
  line-height: 28px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.site-header li {
  float: right;
}
.dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.site-header li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.site-header li a:hover, .site-header .dropdown:hover .dropbtn {
  background-color: #f0f0f0;
}

.site-header li .dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a:hover {background-color: #f1f1f1;}


.dropdown:hover .dropdown-content{
  display: block;
}

/*
  Responsiveness with a dropdown menu
*/

@media (min-width: $PC-minwidth) {
  .mdropbtn {
    display: none;
  }
  .mdropdown-content {
    display: none;
  }
}
@media (max-width: $PC-minwidth) {
  .menu-list {
    display: none;
  }
  .mdropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    margin-top: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .mdropdown {
    float: right;
    position: relative;
  }
  .mdropdown-content {
    display: none;
    left: -250%;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .mdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .mdropdown-content a:hover {
    background-color: #f1f1f1
  }
  .mdropdown:hover .mdropdown-content {
    display: block;
  }
  .mdropdown:hover .mdropbtn {
    background-color: #f1f1f1;
  }
  .site-title {
    font-size: 20px;
    padding-left: 0px;
  }
}
@media (max-width: $tablet-width) {
  .site-title {
    font-size: 15px;
    line-height: $header-tablet-minheight;
    padding-left: 0px;
  }
  .inner-header{
    min-height: $header-tablet-minheight;
  }  
  .mdropbtn {
    background-color: white;
    color: black;
    font-size: 13px;
    padding: 0px;
    margin-top: 0px;
    height: $header-tablet-minheight;
  }
}
