.left_navigation{ 
  float: left;
  background-color: #f2f2f2;
  padding: 20px 0px;
  width: $leftnavigation-width;
}
.page-nav-list{
  padding: 0px 14px;
  margin-bottom:30px;
}
.page-nav-list h2{
  padding: 0px 14px;
  font-size:18px;
  font-weight: 700;
  border-bottom:  1px solid #ddd;
  margin-bottom: 6px;
}
.page-nav-list h3{
  font-size:14px;
  font-weight: 300;
  margin: 0;
  word-break: break-word;
  padding-top: 0.25rem;
  padding-left: 0.3rem;

}
.page-nav-list h3 a{
  margin-top: 0.3rem;
  text-decoration: none;
}

.page-content {
  width: 600px;
  display: block;
  margin: 10px auto 10px;
  padding: 0px 10px 10px;
}
.content-area{
  width: $content-width;
  float: left;
  min-height: 600px;
}
.page-nav-list .nav-items{
  display: flex;
  align-items: start;
  margin-top: 1rem;
}

@media (max-width: $PC-minwidth) {
  .left_navigation{ 
    float: none;
    width: 100%;
  }
  .content-area{
    float: none;
    width: 100%;
  }
}


.content-area article{
  padding: 0 5%;
}
