#professorimg{
    float: left;
    width: 25%;
    padding: 0% 5%;
    border-radius: 50%;
}
#professortext{
    text-align: center;
    width: 75%;
}
.professorarea{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.professorarticle h1{
    text-align: left;
    margin-top: 50px;
}

.peoplelist {
    margin: 5px 10px 25px;
    border-bottom : 1px solid gray;
    display: flex;
    align-items: start;
}
.peoplelist img {
    width: 25%;
    bottom: 0;
    padding: 15px 10px 15px 10px;
}
.peoplelist span {
    bottom: 0;
    margin: 0;
    padding: 10px;
}
.peoplelist h2 span {
    display: inline-block;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
.peoplelist span a {
    color: white;
}
.peoplelist h1 {
    margin: 10px;
}


.membertext{
    width: 70%;

}

.membertext h2{
    margin-bottom: 10px;
}
@media (min-width: 1400px) {
    .peoplelist img{
        width: 230px;
    }
}
@media (max-width: 1000px) {
    #professorimg{
        float: none;
        width: 40%;
        padding : 5%;
        margin-bottom: 1.5rem;
    }
    #professortext{
        text-align: center;
        width: 60%;
    }
    .professorarea{
        margin-top:0px;
    }
    .professorarea h1{
        font-size: 20pt;
    }
    .professorarea p{
        font-size: 9pt;
    }
    .professorarticle h1{
        font-size: 20pt;
        margin-top:30px;
    }
    .professorarticle p{
        font-size: 9pt;
    }
    .professorarticle{
        margin-top: 0px;
    }
    .membertext h2{
        font-size: 17pt;
    }
}

@media (max-width: $tablet-width) {
    .professorarea{
        display: block;
    }
    #professortext{
        width: 100%;
    }
    .peoplelist{
        display: block;
    }
    .membertext{
        width: 100%;
    }
}
@media (max-width: 420px) {
    .professorarea h1{
        font-size: 17pt;
    }
    .professorarea p{
        font-size: 8pt;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .professorarticle h1{
        font-size: 16pt;
        margin-top:20px;
    }
    .professorarticle p{
        font-size: 8pt;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}