article{
  overflow: hidden;
  margin-top: 20px;
}


article hr{
  margin: 20px 0;
}

article .iframe-container{
  aspect-ratio: 16/9;
}
.iframe-container iframe{
  width: 100%;
  height: 100%;
  display: block;
}