---
layout: default
title: Gallery
---

{% include page-title.html %}
{% include inready.html %}
<!--
<div class="content-wrapper">
  <div>
    <div class="board">
        <h1>Gallery</h1>
        <div>
            <table class="galleryTable">
                <tr>
                    <td>
                        <img src="/assets/img/mainimage.jpg"/>
                        <div class="titlearea"><a>그림제목</a></div>
                        <div class="datearea"><span>2024-02-27</span></div>
                    </td>
                    <td>
                        <img src="/assets/img/mainimage.jpg"/>
                        <div class="titlearea"><a>그림제목</a></div>
                        <div class="datearea"><span>2024-02-27</span></div>
                    </td>
                    <td>
                        <img src="/assets/img/mainimage.jpg"/>
                        <div class="titlearea"><a>그림제목</a></div>
                        <div class="datearea"><span>2024-02-27</span></div>
                    </td>
                    <td>
                        <img src="/assets/img/mainimage.jpg"/>
                        <div class="titlearea"><a>그림제목</a></div>
                        <div class="datearea"><span>2024-02-27</span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/assets/img/mainimage.jpg"/>
                        <div class="titlearea"><a>그림제목</a></div>
                        <div class="datearea"><span>2024-02-27</span></div>
                    </td>
                    <td>
                        <img src="/assets/img/mainimage.jpg"/>
                        <div class="titlearea"><a>그림제목</a></div>
                        <div class="datearea"><span>2024-02-27</span></div>
                    </td>
                    <td>
                        <img src="/assets/img/mainimage.jpg"/>
                        <div class="titlearea"><a>그림제목</a></div>
                        <div class="datearea"><span>2024-02-27</span></div>
                    </td>
                    <td>
                        <img src="/assets/img/mainimage.jpg"/>
                        <div class="titlearea"><a>그림제목</a></div>
                        <div class="datearea"><span>2024-02-27</span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/assets/img/mainimage.jpg"/>
                        <div class="titlearea"><a>그림제목</a></div>
                        <div class="datearea"><span>2024-02-27</span></div>
                    </td>
                    <td>
                        <img src="/assets/img/mainimage.jpg"/>
                        <div class="titlearea"><a>그림제목</a></div>
                        <div class="datearea"><span>2024-02-27</span></div>
                    </td>
                    <td>
                        <img src="/assets/img/mainimage.jpg"/>
                        <div class="titlearea"><a>그림제목</a></div>
                        <div class="datearea"><span>2024-02-27</span></div>
                    </td>
                    <td>
                        <img src="/assets/img/mainimage.jpg"/>
                        <div class="titlearea"><a>그림제목</a></div>
                        <div class="datearea"><span>2024-02-27</span></div>
                    </td>
                </tr>
            </table>
                
        </div>
    </div>
  </div>
</div>
-->