---
layout: default
title: Home
---
<div class="content-wrapper">
  <div class="home">
    <img id="mainimage" src="/assets/img/mainimage.jpg"/>
    <h1>Welcome to Autonomous and Intelligent Systems (AIS) Lab.</h1>
    <h3>Notice</h3>
      <h5>Research positions for graduate study and undergraduate internship are available. Highly motivated students are welcome.</h5>
      <h5>The research topics include, but not limited to, guidance, control, and broad applications to UAS including UAVs, UGVs, missiles, launch vehicles, spacecraft, mobile robots, etc.  For more details, please refer to Research Interests.</h5>
      <h5>If you are interested in, please contact Prof. Seokwon Lee via e-mail with your relevant information as below.</h5>
    <h3>FOR Graduate Study & Undergraduate internship</h3>
    <h5>Brief CV</h5>
    <h5>Your research interests and related skills</h5>
    <h5>Your objectives  (including your aspirations after completing your graduate degree)</h5>
    <h5>Information on relevant experiences  (including personal/group projects, internships, or work experience)</h5>
  </div>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
    {% endif %}
  </div>
</div>