---
layout: default
title: Home
---
<div class="content-wrapper">
  <div class="home">
    <img class="maincenterimage" src="/assets/img/mainimage.jpg"/>
    <h1>Welcome to Autonomous and Intelligent Systems (AIS) Lab.</h1>
    <h1>자율지능시스템 연구실에 오신것을 환영합니다.</h1>
    <h3>Notice</h3>
      <h5>Research positions for graduate study and undergraduate internship are available. Highly motivated students are welcome.</h5>
      <h5>The research topics include, but not limited to, guidance, control, and broad applications to UAS including UAVs, UGVs, missiles, launch vehicles, spacecraft, mobile robots, etc.  For more details, please refer to Research Interests.</h5>
      <h5>If you are interested in, please contact Prof. Seokwon Lee via e-mail with your relevant information as below.</h5>
    <div class="focusedarea"><h3>Focused Areas of Research</h3></div>
    <div class="imagearea">
      <img class="mainimage" src="/assets/img/main1.png"/>
      <div class="textarea">
        <span>설명을 추가해야합니다.</span>
      </div>
    </div>
    <div class="imagearea">
      <div class="textarea">
        <span>설명을 추가해야합니다.</span>
      </div>
      <img class="mainimage" src="/assets/img/main2.png"/>
    </div>
    <div class="imagearea">
      <img class="mainimage" src="/assets/img/main3.png"/>
      <div class="textarea">
        <span>설명을 추가해야합니다.</span>
      </div>
    </div>
    <div class="imagearea">
      <div class="textarea">
        <span>설명을 추가해야합니다.</span>
      </div>
      <img class="mainimage" src="/assets/img/main4.png"/>
    </div>
  </div>
  <div class="photoarea">
    
    <h1>연구실 Gallery</h1>
    <div class="slider">
      <span class="leftBtn">
        <i class="fa-solid fa-chevron-left"></i>
      </span>
      <div class="slide">
        <span class="first-img">
          <img src="https://images.unsplash.com/photo-1527526029430-319f10814151?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"/>
        </span>
        <span>
          <img src="https://images.unsplash.com/photo-1581888227599-779811939961?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2148&q=80"/>
        </span>
        <span>
          <img src="https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"/>
        </span>
        <span>
          <img src="https://images.unsplash.com/photo-1527526029430-319f10814151?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"/>
        </span>
        <span class="last-img">
          <img src="https://images.unsplash.com/photo-1581888227599-779811939961?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2148&q=80"/>
        </span>
      </div>
      <span class="rightBtn">
          <i class="fa-solid fa-chevron-right"></i>
      </span>
    </div>
    <ul class="photo-pagination">
      <li class="active" data-index="1"></li>
      <li data-index="2"></li>
      <li data-index="3"></li>
    </ul>

  </div>
  <script>
    const images = document.querySelectorAll('.slide span');
    const sliderContainer = document.querySelector('slider');
    const slider = document.querySelector('.slide');
    const prevBtn = document.querySelector('.leftBtn');
    const nextBtn = document.querySelector('.rightBtn');

    let current = 1;
    const imgSize = images[0].clientWidth;

    slider.style.transform = `translateX(${-imgSize}px)`;

    prevBtn.addEventListener('click',()=>{
        if( current <= 0) return;
        slider.style.transition = '400ms ease-in-out transform';
        current--;
        slider.style.transform = `translateX(${-imgSize * current}px)`;
    })

    nextBtn.addEventListener('click',()=>{
        if( current >= images.length-1 ) return;
        slider.style.transition = '400ms ease-in-out transform';
        current++;
        slider.style.transform = `translateX(${-imgSize * current}px)`;
    })

    slider.addEventListener('transitionend', ()=> {
        if(images[current].classList.contains('first-img')){
            slider.style.transition = 'none';
            current = images.length - 2;
            slider.style.transform = `translateX(${-imgSize * current}px)`;
        }
        if(images[current].classList.contains('last-img')){
            slider.style.transition = 'none';
            current = images.length - current;
            slider.style.transform = `translateX(${-imgSize * current}px)`;
        }
    })
    const dots = document.querySelectorAll('.photoarea ul li')

    prevBtn.addEventListener('click',()=>{
        for(let i=0; i < dots.length; i++) {
            if(dots[i].dataset.index == current){
                dots[i].classList.add('active');
            }else if(current === 0){
                dots[i].classList.remove('active');
                dots[2].classList.add('active');
            }
            else{
                dots[i].classList.remove('active');
            }
        }
    })

    nextBtn.addEventListener('click',()=>{
        for(let i=0; i < dots.length; i++) {
            if(dots[i].dataset.index == current){
                dots[i].classList.add('active');
            }else if(current === 4){
                dots[i].classList.remove('active');
                dots[0].classList.add('active');
            }
            else{
                dots[i].classList.remove('active');
            }
        }
    })
    const next = () => {
        if (current >= images.length - 1) return;
        slider.style.transition = '400ms ease-in-out transform';
        current++;
        slider.style.transform = `translateX(${-imgSize * current}px)`;

        for (let i = 0; i < dots.length; i++) {
            if (dots[i].dataset.index == current) {
                dots[i].classList.add('active');
            } else if (current === 4) {
                dots[i].classList.remove('active');
                dots[0].classList.add('active');
            }
            else {
                dots[i].classList.remove('active');
            }
        }
    }

    setInterval(next, 2000);

    nextBtn.addEventListener('click', () => {
        next()
    })
  </script>
  <!-- Pagination links -->
  <!--
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
    {% endif %}
  </div>-->
</div>