---
layout: default
title: People
---

{% include page-title.html %}
<div class="content-wrapper">
  {% include navigation-bar.html %}
  <div class="content-area">
    
    {% if page.header contains "Member" %}
      Member 관련 소개 내용
      {% for tag in page.memberlist %}
      <h2>{{ tag }}</h2>
        {% for person in site.people %}
          {% if person.tags contains tag %}
            {% if person.categories contains page.category %}
              {% include featured-person-people.html %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
    {% if page.header contains "Professor" %}
      Professor 관련 소개 내용
    {% endif %}
  </div>
</div>