---
layout: default
title: People
---

{% include page-title.html %}
<div class="content-wrapper">
  <div>
    {% if page.header contains "Member" %}
      {% for tag in page.memberlist %}
      <h2>{{ tag }}</h2>
        {% for person in site.people %}
          {% if person.tags contains tag %}
            {% if person.categories contains page.category %}
              {% include featured-person-people.html %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
    {% if page.header contains "Professor" %}
      <div class="professorarea">
        <img id="professorimg" src="/assets/img/professor.jpeg"/>
        <div>
          <span>Biography</span>
          <p>Hi! My name is Seokwon Lee. I received my B.S. and Ph. D. degrees in aerospace engineering from the Department of Mechanical and Aerospace Engineering, Seoul National University, Seoul, Republic of Korea, in 2012 and 2019.  I am currently working at Chung-Ang University as an assistant professor. Previously, I worked at Cranfield University as a research fellow, and a postdoctoral researcher at the Institute of Advanced Aerospace Technology, Seoul National University, respectively. </p>
          <p>My research interests include, not limited to, estimation, optimization, and control theories and their applications to autonomous and intelligent systems. I am keen to seek vibrant collaborations with students and colleagues who have similar research interests. Feel free to reach out through the contact information below.</p>
          <p>[Contact Information]</p>
          <p>Email: seokwonlee@cau.ac.kr/ blueswl12@gmail.com</p>
          <p>researchgate, googlescholar,  CV</p>
        </div>
      </div>
      <article class="professorarticle">
        {{ content }}
      </article>
    {% endif %}
  </div>
</div>